[project]
	description = A Javascript charting library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/niksoper
[access "refs/for/refs/*"]
	read = group user/niksoper
	push = group user/niksoper
	label-Code-Review = -2..+2 group user/niksoper
	label-Verified = -1..+1 group user/niksoper
	rebase = group user/niksoper
	removeReviewer = group user/niksoper
	submit = group user/niksoper
[access "refs/heads/*"]
	read = group user/niksoper
	create = group user/niksoper
	push = +force group user/niksoper
	pushMerge = group user/niksoper
[access "refs/tags/*"]
	push = +force group user/niksoper
	pushTag = group user/niksoper
	pushSignedTag = group user/niksoper
